<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">EmployeeList</h3>
    </div>
    <div>
        <div class="card-body">
            <div id="dataGrid"></div>
        </div>
    </div>
</div>

<div id="employeeADoPopup"></div>
<div id="experienceADoPopupContainer"></div>


@{
    var token = Context.Session.GetString("JWToken");
    bool isAdmin = EmpAppADO.HttpServiceHelper.JwtHelper.IsAdmin(token);
   
}

<script>
    window.isAdminUser = @isAdmin.ToString().ToLower();
</script>


@section Scripts {
	<script src="~/app/form.js"></script>
	<script src="~/app/list.js"></script>
}